student_details.csv
student_profiles.csv
jut_score_fetch.py
jut_results.csv
jut_results.csv
jut_per_student_analysis.py
jut01.csv
jut02.csv
jut03.csv
jut04.csv
jut05.csv
jut06.csv
jut07.csv
jut08.csv
jut09.csv
jut10.csv
jut11.csv
jut12.csv
jut13.csv
jut14.csv
jut15.csv
jut16.csv
jut17.csv
jut18.csv
jut19.csv
jut20.csv
jut21.csv
jut22.csv
jut23.csv
jut24.csv
jut25.csv
jut26.csv
jut27.csv
jut28.csv
jut29.csv
jut30.csv